{% extends "layout.html" %}
{% set active_page = 'about' %}

{% block content %}
    <h1>About Us</h1>
    <div id="panel-1">
        <div class="media">
            <h4>Welcome to Your Local Tool Share.</h4>
        </div>
        <h5><i>Feel part of the community - borrow, lend and connect with people in your local area.</i></h5>
        <div id="image">
            <img src="static/about_us_pictures/people with tools.jpg" width="80%" alt="people with various tools in their hands"> </img>
        </div>
        <div id="main">
            <h6><b>Tool Share - what you need to know</b></h6>
            <p>Make your borrowing and lending experience even easier with Tool Share and find the items you're after - whether it's a hammer, screwdriver, scissors or others.
               Tool Share allows borrowers and lenders to connect in an area local to them, making exchanging tools that little bit easier. 
               There's always something to look forward to with Tool Share. </p>
        </div>
    </div>
{% endblock content %}